body {
    display: grid;
    align-items: center;
}

form {
    display: flex;
    flex-wrap: wrap;
}


input {
    border: 1px solid grey;
    border-radius: .25rem;
    padding: .75rem 1rem;
    margin-left:5px;
}

#rowName{
   width:50%;
}
#rowRating{
    width:20%;
}

#btnform {
    width: 20%;
    background-color: #34a5d0;
    color: white;
    font-weight: bolder;
}
#h3 {
    color: #3fabcc;
}